<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Title.Properties.Settings.iResDatabaseConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=iResDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>